<div class="container" ng-controller="RegistrationController as reg" >
  <h2>Sign up for our newsletter</h2>
  <br>
      <form name='regForm' novalidate>
        <div>
          <input type="text" name="firstname" placeholder="First Name*"
          ng-model="reg.user.firstname"
          required
          minlength="1"
          ng-maxlength="30" ng-pattern="/^[a-zA-Z]*$/">
          <div>
            <span
              ng-if="(regForm.firstname.$error.minlength || regForm.firstname.$error.required || regForm.firstname.$invalid) && regForm.firstname.$touched">
                Please enter a valid first name.
            </span>
            <span ng-if="regForm.firstname.$error.maxlength && regForm.firstname.$touched">
              Firstname can not be longer than 30 characters.
            </span>
          </div>
          <br>
        </div>

        <div>
          <input type="text" name="lastname" placeholder="Last Name*"
          ng-model="reg.user.lastname"
          required
          minlength="1"
          ng-maxlength="30"
          ng-pattern="/^[a-zA-Z]*$/">
          <div>
            <span
              ng-if="(regForm.lastname.$error.minlength || regForm.lastname.$error.required || regForm.lastname.$invalid) && regForm.lastname.$touched">
              Please enter a valid last name.
            </span>
            <span ng-if="regForm.lastname.$error.maxlength && regForm.lastname.$touched">
              Lastname can not be longer than 30 characters.
            </span>
          </div>
          <br>
        </div>

        <div>
          <input type="email" name="email" placeholder="Email address*"
          ng-model="reg.user.email"
          required>
          <div>
            <span ng-if="regForm.email.$invalid && regForm.email.$touched">
              Please enter a valid email address.
            </span>
          </div>
          <br>
        </div>

        <div>
          <input type="text" name="phone" placeholder="Mobile phone number*"
          ng-model="reg.user.phone"
          required
          pattern="(\d{3})(\d{3})(\d{3})">
          <div>
            <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Please enter a valid 9 digits Phone number.
            </span>
          </div>
          <br>
        </div>

        <div>
          <input type="text" name="menunumber" placeholder="Menu number of your favorite dish"
          ng-model="reg.user.menunumber" ng-class="{'ng-invalid':reg.menuItemerror}">
          <div>
            <span>
              {{reg.menuItemerror}}
            </span>
          </div>
          <br>
        </div>

        <div>
          <button   ng-disabled="regForm.$invalid"
            ng-click="reg.submit()">Sign up
          </button>
        </div>
      </form>
      <div id="info" ng-if="reg.completed">
      Your information has been saved. <br>
      </div>
</div>
